.Home {
	width: 30rem;
	margin: 0 auto;
	padding: 2rem 0 10rem;

	h1 {
		color: blueviolet;
	}

	.Desktop,
	.Mobile {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.Home {
		.Desktop {
			display: block;
		}
	}
}

@media screen and (max-width: 999px) {
	.Home {
		.Mobile {
			display: block;
		}
	}
}